<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lỗi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    
    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }
    /* Remove the jumbotron's default bottom margin */
    
    .jumbotron {
        margin-bottom: 0;
    }
    /* Add a gray background color and some padding to the footer */
    
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }
    </style>
</head>

    <body>
       
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                   
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                         <li><h4><a href="/manage">Danh sách danh mục</a></h4></li>
                        <li><h4><a href="/manage/selllist">Danh sách xin bán</a></h4></li>
                        <li><h4><a href="/manage/usermanage">Danh sách người dùng</a></h4></li>
                    </ul>
                </div>
                </div>
                </nav>
                <div class="panel panel-default">
  <!-- Default panel contents -->


  <!-- Table -->
  <div class="row">
  <div class="container-fluid">
  
        <div>{{errorMessage}}</div>
        <br/>
        <div>
             <a class="btn btn-danger" href="{{redirectURL}}" role="button"> 
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"> Trở về trang trước</span>
             </a>
        </div>
         
        </div>
        </div>
        </div>
           <footer class="container-fluid text-center">
            <p>Online Store Copyright</p>
     </footer>
</body>