<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register Success</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    
    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }
    /* Remove the jumbotron's default bottom margin */
    
    .jumbotron {
        margin-bottom: 0;
    }
    /* Add a gray background color and some padding to the footer */
    
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }
    </style>
</head>
 <body>
    <h2>Chúng tôi đã gửi tới mail đăng ký của bạn một yêu cầu xác thực.</h2></br>
    <h2>Làm ơn check mail và click vào link để hoàn tất việc đăng ký.</h2></br>
    <h2>Đến trang <a href="/user/login">Login</a></h2></br>
    <h2>Quay về <a href="/">Trang chủ</a></h2></br>
 </body>

 </html>
