<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/fonts/stylesheet.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */
    
    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }
    /* Remove the jumbotron's default bottom margin */
    
    .jumbotron {
        margin-bottom: 0;
    }
    /* Add a gray background color and some padding to the footer */
    
    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }
    </style>
</head>

    <body>
           <div class="container" style="border: 0px solid red; height: 180px">
    <div class="col-sm-3 text-left" style="margin-left: -40px;border: 0px solid red;"><img src="/image/title.jpg"></div>
   
     <div class="text-center col-sm-9" style="font-size: 100px; font-family: 'League Gothic'; font-style: italic; background-color: white; color: gray; height: 180px; line-height:180px">
     Online Auction</div>
     </div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Trang Chủ</a>
                </div>
                
            </div>
        </nav>
        <div class="row">

            <div class="col-md-4 col-md-offset-4 text-center">
                <h2><strong>Đăng kí tài khoản</strong></h2>
                 <hr>
            </div>
            </br>
            </br>
            <div class="col-md-4 col-md-offset-4">

            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <form id='registerForm' class="form-horizontal" method="post" action="">
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="idNguoiDung">User ID </label>
                            <div class="col-sm-9">
                              <input type="number" name="idNguoiDung" id="idNguoiDung" class="form-control" placeholder="Enter User ID">
                              <span id="username_error" style="color: red"></span>
                            </div>        
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="hoTen">Họ Tên </label>
                            <div class="col-sm-9">
                              <input type="text" name="hoTen" class="form-control" id="hoTen" placeholder="Enter Your Name">
                              <span id="hoten_error" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="email">Email  </label>
                            <div class="col-sm-9">
                              <input type="email" name="email" class="form-control" id="email" placeholder="Enter Your Email" required>
                              <span id="email_error" style="color: red"></span>
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="control-label col-sm-3" for="passWord">Mật Khẩu  </label>
                            <div class="col-sm-9">
                              <input type="password" name="passWord" class="form-control" id="passWord" placeholder="Enter Your PassWord">
                              <span id="password_error" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-3" for="repassWord">Nhập lại MK </label>
                            <div class="col-sm-9">
                              <input type="password" name="repassWord" class="form-control" id="repassWord" placeholder="Re-type Your PassWord">
                              <span id="re_password_error" style="color: red"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="captcha" class="col-md-offset-3">

                            </div>
                            {{#if errorRecaptcha}}
                            <span style="color: red">Error Recaptcha</span>
                            {{else}}
                            {{/if}}

                        </div>
                        <hr>
                        <div>
                            <button type="Submit" class="btn btn-success">Đăng kí </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
       
      
    </body>

    <script type="text/javascript">

     var users = JSON.parse('{{{json users}}}');
     var isValidID = true;
     var isValidEmail = true;
     $(document).ready(function(){

       
        var decoded = $('#captcha').html("{{captcha}}").text();
        $('#captcha').html(decoded);
       
  
        $('#registerForm').submit(function(){
            var username    = $.trim($('#idNguoiDung').val());
            var password    = $.trim($('#passWord').val());
            var re_password = $.trim($('#repassWord').val());
            var email       = $.trim($('#email').val());
            var hoten       = $.trim($('#hoTen').val());
           

              // Username
            if (username == ''){
                $('#username_error').text('Tên đăng nhập không được bỏ trống');
               
                return false;
            }
            else{
                if(!isValidID){
                    $('#username_error').text('ID đã có người sử dụng');
                    return false;
                } 
                $('#username_error').text('');
            }
            if(!isValidEmail){
                $('#username_error').text('Email đã có người sử dụng');
                return false;
            } 
            //hoten
            if (hoten == ''){
                $('#hoten_error').text('Tên không được bỏ trống');
             
                return false;
            }
            else{
                $('#hoten_error').text('');
            }
     
            // Password
            if (password.length <= 0){
                $('#password_error').text('Bạn phải nhập mật khẩu');
               
                return false;
            }
            else{
                $('#password_error').text('');
            }
     
            // Re password
            if (password != re_password){
                $('#re_password_error').text('Mật khẩu nhập lại không đúng');
              
                return false;
            }
            else{
                $('#re_password_error').text('');
            }

            return true;
            // Email
           /* if (!isEmail(email)){
                $('#email_error').text('Email không được để trống và phải đúng định dạng');
                flag = false;
            }
            else{
                $('#email_error').text('');
            }*/
       
        });


       $('#idNguoiDung').change(function(){
            var id = $('#idNguoiDung').val();
            isValidID = true;
            for(var i = 0; i < users.length; i++){
                if(users[i].idNguoiDung == id){
                    $('#username_error').text('ID đã có người sử dụng');
                    isValidID = false;
                    break;
                }
            }
            if(isValidID) $('#username_error').text('');
       });
       $('#email').change(function(){
            var email = $('#email').val();
            
            isValidEmail = true;
            for(var i = 0; i < users.length; i++) {

                if((users[i].email.localeCompare(email)) == 0){  
                    $('#email_error').text('Email đã có người sử dụng');
                    isValidEmail = false;
                    break;
                }
            }
           
            if(isValidEmail) $('#email_error').text('');

       });
    
    });


    
    </script>

</html>
